/* body{
    position:relative;
    background-image: url("../img/BasketballCourt.jpg");
    height:100vh;
    background-image: center;
    background-size: cover;
}


 body::after{
    content:"";
    display:block;
    background-image: url("../img/BasketballCourt.jpg");
    height:100vh;
    background-image: center;
    background-size: cover;
    position: absolute;
    left:0;
    top:0;
    z-index:-1;
    opacity:0.3;
  
} */

.grid-container {
    display:grid;
    grid-template-columns: 1fr 1fr 1.6fr 1fr;
    grid-template-rows: 1fr 1.5fr 1.2fr;
    height:100vh;
    margin:2em;
}

main{
    /* grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4; */

    grid-area: 1 / 1 / 4 / 2;
}

.notepad {
    border: 2px solid red;
    border-radius: 5px;
    height: 400px
}
.title{
    /* grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 1; */

    grid-area: 1/2/1/5;
}

.myteam{
    /* grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4; */

    grid-area: 2/2/4/3;
    /* background-color:blue; */
}

.checklist{
    /* grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3; */
    /* grid-area rowstart colstart rowend colend */
    grid-area: 2/3/3/5;
    /* background-color:greenyellow; */
}

.myplayersnotes{
  
    grid-area: 3/3/4/4;
    /* background-color:purple; */
}

.focus{
  
    grid-area: 3/4/4/5;
    /* background-color:red; */
}